/* OUR TEAM 3 STYLE FOR VOLUMENTAL LOTTE */
* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
}

a {
  color: black;
  text-decoration: underline;
}

.header{
  width: 100%;
}

.navbar {
  overflow: hidden;
  background-color: white;
  z-index: 10;
  padding: 15px 50px 20px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  color: black;
}

.navbar li {
  float: right;
  display: block;
  text-align: center;
  padding-right: 25px;
  padding-left: 30px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2.8px;
}

.navbar li a {
  text-decoration: none;
}

.navbar img {
  width: 95px;
  display: inline;
  float: left;
  padding-left: 10px;
}

.navbar .icon {
  display: none;
}

.responsive {
  display: block;
}

#container {
  overflow: auto;
  z-index: 1;
}

.hero-section {
  margin: 70px 55px 120px;
}

.hero-section img {
  width: 100%;
}

#hero-image-container {
  background-image: url("./images/hero_2.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 812px;
}

p {
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  line-height: 1.5;
  word-spacing: 5px;
  letter-spacing: 1.6px;
  color: rgb(51, 51, 51);
}

h3 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}

h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 5px;
  text-align: center;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}

.icon {
  text-decoration: none;
  color: black;
  margin-top: 16px;
}

.grid-container {
  display: grid;
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
  "info-header info-header info-header info-header"
  "info info info info"
  "picture-1 picture-1 . ."
  "picture-1 picture-1 picture-2 ."
  ". picture-3 video-1 video-1"
  ". . video-1 video-1"
  "press-header press-header press-header press-header"
  "press press press press"
  "map-header map-header map-header map-header"
  "mapbox mapbox mapbox mapbox";
  grid-gap: 10px;
  padding: 0px;
  min-height: 0;
  min-width: 0;
}

.info-header {
  grid-area: info-header;
  text-align: center;
}

.info {
  grid-area: info;
}

.picture-1 {
  grid-area: picture-1;
}

.picture-2 {
  grid-area: picture-2;
}

.picture-3 {
  grid-area: picture-3;
}

.video-1 {
  grid-area: video-1;
}

.img-item {
  object-fit: cover;
}

.img-item img {
  width: 100%;
}

.mapbox {
  position: relative;
  grid-area: mapbox;
  height: 100px;
}

#map {
  width: 100%;
  height: 400px;
  filter: grayscale(1);
}

.map-header {
  grid-area: map-header;
}

.press-header {
  grid-area: press-header;
}

.press {
  grid-area: press;
}

.quote {
  text-align: center;
  line-height: 2.5;
  margin: 0px;
  text-transform: uppercase;
  display: inline-block;
  width: 80%;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.quote-open, .quote-close i {
  text-align: center;
  font-size: 50px;
  color: rgba(244, 133, 140);
  display: inline-block;
  width: 10%;
  height: 66px;
  display: inline;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
.quote-close {
  position: relative;
  top: 5px;
}
.after-quote p {
  float:left;
  clear: both;
}
.footer a {
  text-decoration: none;
  color: black;
}

.footer-section {
  border-top: solid 1px black;
  margin-top: 20px;
  padding: 15px 0 0;
  height: 225px;
  position: relative;
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2.3px;
  text-align: center;
  display: block;
}

.footer-section p {
  text-align: center;
}

.footer-section button {
  border: none;
  background-color: white;
}

.footermenu-item {
  line-height: 25px;
  margin: 15px;
}

input[type=text], input[type=submit], input[type=button] {
  width: 160px;
  padding: 12px 20px;
  margin: 8px 10px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1.6px;
  border: none;
  border-bottom: 1px solid black;
  padding: 10px;
  background-color: white;
  text-align: left;
  outline: none;
}

#form {
  display: none;
}

#plus {
  display: inline;
}

#minus {
  display: none;
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "info-header info-header"
    "info info"
    "picture-1 picture-2"
    "picture-3 video-1"
    "map-header map-header"
    "mapbox mapbox"
    "press-header press-header"
    "press press";
    grid-gap: 10px;
    padding: 0px 30px;
    min-height: 0;
    min-width: 0;
  }
  .navbar {
    padding-left: 0px;
    padding-right: 15px;
  }
  .navbar li {
    padding-right: 10px;
    padding-left: 10px;
  }
  .hero-section {
    margin: 70px 10px 120px;
  }
  .video-1 {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 750px) {
  body {
  margin: 0px;
  padding: 0px;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "info-header"
    "info"
    "map-header"
    "mapbox"
    "mapbox"
    "picture-1"
    "video-1"
    "press-header"
    "press"
    "press";
    grid-gap: 10px;
    padding: 0px 30px;
    min-height: 0;
    min-width: 0;
  }
  .hero-section {
    margin: 70px 0px 120px;
  }
  .navbar li a {
    display: block;
    width: 100%;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
  .navbar {
    padding-left: 10px;
    padding-right: 15px;
  }
  .navbar img {
    width: 70px;
    padding-top: 10px;
  }
  .navbar .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive ul {
    background: white;
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin: 0px;
    top: 70px;
    bottom: 0px;;
    left: 0px;
    right: 0px;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 10;
  }
  .navbar li {
    display: none;
  }
  .navbar.responsive li {
    float: none;
    display: block;
    text-align: center;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 5px;
  }
  .footer {
    text-transform: uppercase;
  }
  .footermenu-item {
    display: block;
    margin: 0px;
  }
  .picture-2 {
    display: none;
  }
  .picture-3 {
    display: none;
  }
  .video-1 {
    width: 100%;
    height: auto;
  }
}
