/* OUR TEAM 3 STYLE FOR VOLUMENTAL LOTTE */
* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
}

.header{
  width: 100%;
  /* padding: 11px 90px 11px 90px; */
}

.navbar {
  overflow: hidden;
  background-color: white;
  z-index: 10;
  padding-left: 9%;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.navbar li {
  float: right;
  display: block;
  text-align: center;
  padding-right: 25px;
  padding-left: 30px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2.8px;
  display: block;
}

.navbar li a {
  text-decoration: none;
  color: black;
}

.navbar img {
    width: 95px;
    display: inline;
    float: left;
    padding-left: 10px;
}

.navbar .icon {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* .fa fa-bars {
  height: 25px;
  width: auto;
} */

#container {
  overflow: auto;
  z-index: 1;
}

.hero-section {
  margin: 70px 55px 120px;
}

.hero-section img {
  width: 100%;
}

#hero-image-container {
  background: lightgrey;
  background-image: url("./images/heroimage.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 812px;
}


p {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5;
  word-spacing: 5px;
  letter-spacing: 1.6px;
  text-align: center;
  color: #333333;
}

h3 {
  font-size: 30px;
  font-weight: 600px;
  letter-spacing: 7px;
  text-align: center;
  color: #333333;
}

h4 {
  font-size: 14px;
  font-weight: 600px;
  line-height: 30px;
  letter-spacing: 5px;
}

/* .header {
  position: fixed;
  padding: 11px 0px 11px;
  top: 0px;
  left: 0px;
  background: white;
  padding: 11px 90px 11px;
  width: 100%;
  z-index: 1000;
} */

.footer a {
  text-decoration: none;
  color: black;
}

.footer-section {
  border-top: solid 1px black;
  margin: 0px;
  padding: 15px 0 0;
  height: 225px;
  /* clear: both; */
  position: relative;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2.3px;
  text-align: center;
  display: block;
}

.footermenu_item {
  line-height: 25px;
  margin: 15px;
}

.grid-container {
  display: grid;
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
  "logo logo logo logo"
  "info info info info"
  "scanner scanner . ."
  "scanner scanner woman ."
  ". poster tablet tablet"
  ". . tablet tablet"
  "map map map map"
  "press press press press";
  grid-gap: 10px;
  padding: 0px;
  min-height: 0;
  min-width: 0;
}

.logo {
  grid-area: logo;
  text-align: center;
}

.logo img {
  /* width: 60%; */
  object-fit: contain;
}

.info {
  grid-area: info;
}

.scanner {
  grid-area: scanner;
}

.woman {
  grid-area: woman;
}

.poster {
  grid-area: poster;
}

.tablet {
  grid-area: tablet;
}

.img-item {
  filter: grayscale(30%);
  object-fit: cover
}

.img-item img {
  width: 100%;
  height: 100%;
}

.map {
  grid-area: map;
}

.press {
  grid-area: press;
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "logo logo"
    "info info"
    "scanner woman"
    "poster tablet"
    "map map"
    "press press";
    grid-gap: 10px;
    padding: 0px;
    min-height: 0;
    min-width: 0;
  }
  /* .navbar {
    padding-left: 3%;
  } */
  .navbar li {
    padding-right: 10px;
    padding-left: 10px;
  }
  .hero-section {
    margin: 70px 10px 120px;
  }
}

@media screen and (max-width: 750px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "logo"
    "info"
    "scanner"
    "woman"
    "poster"
    "tablet"
    "map"
    "map"
    "press"
    "press";
    grid-gap: 10px;
    padding: 0px;
    min-height: 0;
    min-width: 0;
}
  .hero-section {
    margin: 70px 10px 120px;
}
  .footer-section {
    text-transform: uppercase;
}
  .footermenu_item {
    display: block;
    margin: 0px;
  }
  .navbar li {
    display: none;
  }
  .navbar a {
    display: none;
}
  .navbar a.icon {
    float: right;
    display: block;
  }
}
