/* OUR TEAM 3 STYLE FOR VOLUMENTAL LOTTE */
* {
  box-sizing: border-box;
}

#container {
  overflow: auto;
}

.hero-section {
  margin: 70px 55px 120px;
}

.hero-section img {
    width: 100%;
  }

  #hero img{
    opacity: 1;
  }

.grid-container {
  display: grid;
  background-color: pink;
  display: grid;
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
  "logo logo info info"
  "scanner scanner . ."
  "scanner scanner woman ."
  ". poster tablet tablet"
  ". . tablet tablet"
  "map map map map"
  "press press press press";
  grid-gap: 10px;
  padding: 0px;
  min-height: 0;
  min-width: 0;
}

/* .grid-item {
  background-color: grey;
  word-wrap: break-word;
  min-height: 0;
  min-width: 0;
  /* grid-auto-rows: min-content;
} */

/* .img-item {
  background-color: grey;
  overflow: hidden;
  min-height: 0;
  min-width: 0;
  grid-auto-rows: min-content;
} */

.logo {
  width: 100%;
  object-fit: contain;
}

.logo img {
  width: 100%;
  object-fit: contain;
}

.info {
  grid-area: info;
}

.info p {
  font-size: 1em;
}

.scanner {
  grid-area: scanner;
}

.woman {
  grid-area: woman;
}

.poster {
  grid-area: poster;
}

.tablet {
  grid-area: tablet;
}

.img-item {
  filter: grayscale(30%);
  object-fit: cover
}

.img-item img {
  widht: 100%;
  height: 100%;
}

.map {
  grid-area: map;
}

.press {
  grid-area: press;
}
